body{
    background-color: #188599;
    background-size: 100% auto;
}
#form2{
    color: #fff;
    font-size: 25px;
    margin-left: 20px;
    line-break: 100px;
}
.as{
    font-size: 30px;
    height: 100px;
}
.ab{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    font-size: 50px;
}
.border{
    border-bottom: solid;
    border-color: black;
    border-width: 2px;
}
#white{
    color:#fff;
}